/* reset */
* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
/*
    CSS 우선순위
    : 선택자가 같고, 동등한 레벨일때 속성명이 같다면
    아래 쪽에 있는 속성 값이 위 구문의 속성값을 덮어쓰기 한다. 

    nth-of-type: 동일한 타입의 태그에서 순번으로 선택
    클래스: 동일한 태그일 때, 임의로 이름을 부여해서 구분점을 줌
    클래스명 규칙 : 
    1. 한글 안됨 
    2. 숫자로 시작불가 
    3. 대문자로 시작불가
    4. 특수문자 삽입불가 ( _ , - 제외)

    margin: 0px auto;
    : 블록 요소 자체를 가로 가운데 배치하는 상용 구문

    text-align: center; 
    : 블록 요소 안쪽에 있는 인라인 요소를 가로 가운데 배치
*/

.box1 {
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: aqua;
    padding: 50px;
    border: 5px solid black;
    margin: 0 auto;
}

.box2 {
    width: 200px;
    height: 200px;
    font-size: 20px;
    background-color: hotpink;
    padding: 50px;
    border: 5px solid royalblue;
    box-sizing: border-box;
    text-align: center;
}

/*  
div:nth-of-type(1) {
    width: 200px;
    height: 200px;
    font-size: 30px;
    background-color: aqua;
}

div:nth-of-type(2) {
    width: 200px;
    height: 200px;
    font-size: 30px;
    background-color: hotpink;
}
*/
