@charset "utf-8";


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#box9 {
    width: 100%;
}

#box9::after {
    content: "";
    display: block;
    clear: both;
}

#box9 .left {
    float: left;
    width: 50%;
    height: 500px;
    background-color: #888;
}

#box9 .right {
    float: right;
    width: 50%;
    height: 500px;
    background-color: #222;
}

#box9 .right .inner {
    width: 590px;
    padding: 50px;
}

#box9 .right .inner h1 {
    font: bold 22px/1 'arial';
    color: #fff;
    margin-bottom: 5px;
}

#box9 .right .inner h2 {
    font: 18px/1 'arial';
    color: #999;
    margin-bottom: 50px;
}

#box9 .right .inner article {
    margin-bottom: 30px;
}

#box9 .right .inner article h3 {
    font: bold 16px/1 'arial';
    color: #666;
    margin-bottom: 10px;
}

#box9 .right .inner article p {
    font: 12px/1.2 'arial';
    color: #555;
}

#box9 .right .inner .btn {
    display: block;
    width: 120px;
    height: 30px;
    font: 12px/30px 'arial';
    color: #111;
    text-align: center;
    border-radius: 15px;
    background-color: #666;
}


