@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

#wrap .box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    background-color: #000;
}

/*
    width , height를 아는 경우에는
    transform대신 margin 써주기.
*/