@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

section {
    width: 100%;
    padding: 200px 0;
}

section .inner {
    width: 1180px;
    margin: 0 auto;
}

section .inner h1 {
    font: bold 24px/1 'arial';
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

section .inner .wrap {
    width: 100%;
}

section .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
}

section .inner .wrap article {
    float: left;
    width: 280px;
    height: 300px;
    margin-right: 20px;
    background: #bbb;
}

section .inner .wrap article:last-child {
    margin-right: 0;
}