<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box9</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1dad6b4855.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="box9">
        <div class="left"></div>
        <div class="right">
            <div class="inner">
                <h1>Lorem ipsum dolor sit.</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Nisi, sunt.</h2>
                <article>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem quae molestias possimus ad sit tempore nobis error beatae accusantium.
                    </p>
                </article>
                <article>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsa ducimus esse alias vitae vero laborum officiis modi molestiae labore?
                    </p>
                </article>
                <a href="#" class="btn" title="더보기">VIEW</a>
            </div>
        </div>
    </section>
</body>
</html>