@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.box1 {
    width: 500px;
    height: 200px;
    margin: 100px;
    background: linear-gradient(-45deg, aqua, lightgreen);
}

.box2 {
    width: 200px;
    height: 200px;
    margin: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, pink, hotpink);
}

.btn1 {
    display: block;
    margin: 100px;
    width: 120px;
    height: 40px;
    background: linear-gradient(45deg, pink, hotpink);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(226, 120, 173, .5);
    text-shadow: 0px 0px 5px rgb(255, 255, 255, .8);
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: white;
}

.btn2 {
    display: block;
    margin: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, lightgreen, aqua);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(117, 218, 213, 0.8);
}

.btn2 i {
    font-size: 80px;
    line-height: 150px;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .8);
}