<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box3</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1dad6b4855.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="box3">
        <div class="inner">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <div class="wrap">
                <article>
                    <div class="pic"></div>
                    <div class="texBox">
                        <h2>Sub title comes here</h2>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                </article>
                <article>
                    <div class="pic"></div>
                    <div class="texBox">
                        <h2>Sub title comes here</h2>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                </article>
                <article>
                    <div class="pic"></div>
                    <div class="texBox">
                        <h2>Sub title comes here</h2>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                </article>
                <article>
                    <div class="pic"></div>
                    <div class="texBox">
                        <h2>Sub title comes here</h2>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#" class="btn">view more</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>