@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.box {
    width: 100%;
    height: 300px;
    background-color: aqua;
    margin: 100px auto;
    text-align: center;
    color: #fff;
    font-size: 10vmax;
}

/*
vw : 브라우저의 가로폭을 백등분한 단위
vh : 브라우저의 세로폰을 백등분한 단위
vmax : 긴폭을 기준으로 백등분한 단위
vmax : 작은폭을 기준으로 백등분한 단위

vmax단위는 데스크탑 크기에서 반응형 적용할 때
vmin단위는 모바일 기기 크기에서만 반응형 적용할 때
*/