@charset "utf-8";


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}


#box5 {
    width: 100%;
    padding: 180px 0 150px;
    background: #eee;
}

#box5 .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}

#box5 .inner h1 {
    font: bold 22px/1 'arial';
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

#box5 .inner > p {
    font: 16px/1 'arial';
    color: #999;
    text-align: center;
    margin-bottom: 80px;
}

#box5 .inner .wrap {
    width: 100%;  
}

#box5 .inner .wrap article {
    float: left;
    width: calc((100% / 4) - 15px);
    margin-right: 20px;
}

#box5 .inner .wrap article:last-child {
    margin-right: 0;
}

#box5 .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background-color: #555;
    margin-bottom: 15px;
}

#box5 .inner .wrap article h2 {
    font: 16px/1 'arial';
    color: #555;
    margin-bottom: 10px;
}

#box5 .inner .wrap article p {
    font: 14px/1.2 'arial';
    color: #666;
    margin-bottom: 20px;
}

#box5 .inner .wrap article .btn {
    display: inline-block;
    font: bold 12px/1 'arial';
    color: #333;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #888;
    box-sizing: border-box;
}