<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 연습</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1dad6b4855.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="box8">
        <div class="inner">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
            <div class="wrap">
                <article>
                    <div class="pic"></div>
                    <h2>Here comes Sub title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipis<br> elit. Nihil, blanditiis voluptate</p>
                    <a href="#" class="btn" title="더보기">View more</a>
                </article>
                <article>
                    <div class="pic"></div>
                    <h2>Here comes Sub title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipis<br> elit. Nihil, blanditiis voluptate</p>
                    <a href="#" class="btn" title="더보기">View more</a>
                </article>
                <article>
                    <div class="pic"></div>
                    <h2>Here comes Sub title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipis<br> elit. Nihil, blanditiis voluptate</p>
                    <a href="#" class="btn" title="더보기">View more</a>
                </article>
            </div>
        </div>
    </section>
</body>
</html>