@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

/* margin 역상속 
    - 블록요소 부모태그 안에 첫번째 자식 블록요소에
    margin-top을 적용하면 해당 마진값이 부모요소에 역상속

    해결방법
    1. 부모 블록요소에 border 적용
    2. 부모태그 안쪽에 padding-top을 적용 
*/

a {
    text-decoration: none;
}

section {
    width: 100%;
    padding-top: 50px;
    background-color: lightblue;
}

section .inner {
    width: 1180px;
    height: 500px;
    background-color: pink;
    margin: 50px auto;
}
