@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 100px;
    color: #000;
}

#box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 100px auto;
}

.list {
    padding: 50px;
}

.list li a {
    font-size: 25px;
    border-bottom: 1px solid #000;
} 