<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1dad6b4855.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="footer">
        <div class="inner">
            <div class="upper">
                    <ul class="terms">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">License</a></li>
                        <li><a href="#">Department</a></li>
                        <li><a href="#">E-mail</a></li>
                    </ul>
                    <ul class="sns">
                        <li>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
            </div>
            <div class="lower">
                <h1>DCODELAB</h1>
                <address>
                    Pacific Century Place Tower Level 45 SCBD Lot 10,<br>
                    Daerah Khusus lbukota Jakata 12190, Indonesia<br>
                </address>
                <p>2020 DCODELAB Academy &copy; All right reserved.</p>
            </div>
        </div>
    </section>
</body>
</html>