@charset "utf-8";
@import "reset.scss";
@import "font.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bgBody;

    .item {
        width: 300px;
        padding: 20px;
        margin: 20px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

        h2 {
            font: bold $titSize/1 'orbitron';
            color: $tit;
            margin-bottom: 10px;
        }

        p {
            font: normal 16px/1 'arial';
            color: $con;
            margin-bottom: 10px;
        }

        a {
            font-size: 'arial';
            color: $link;
        }
        
        &:hover {
            background-color: skyblue;
            h2 {
                color: #fff;
            }

            p {
                color: #eee;
            }

            a {
                color: yellow;
            }
        }
    }
}

