@charset 'utf-8'; 
@import "reset.css"; 

/*
    미디어쿼리 (mediaquery)

    - 특정 브라우저 폭을 지정해서 css구문을 입력하면
    해당 브라우저 폭에서는 미디어 쿼리 안쪽의 구문이 기존 css구문을 덮어씀

    - 원본 css와 속성값이 같다면(변함이 없다) 생략이 가능
    속성 추가 가능

    -미디어쿼리 구간에서는 전체 너비값을 총합이 100%가 되도록 작성
    (고정 px은 %로 바꾼다)

    - 원본 css구문(태그 경로)를 미디어쿼리 구간에서도 동일하게 써야 한다
        ex) #header .inner #gnb {}

        @media screen and (max-width: 1179px) { //최대너비가 1179px이하인 구간 적용
            ex) #header  #gnb {} (x)
            ex) #header .inner #gnb {} (o)
        }
*/

#box {
    width: 300px;
    height: 300px;
    background-color: pink;
    margin: 100px auto;
    transition: all 1s;
}

@media screen and (max-width: 900px) {
    #box {
        width: 90%;
        height: 700px; /* height는 고정px로 한다 */
    }
}

@media screen and (max-width: 400px) {
    #box {
        height: 500px; /* height는 고정px로 한다 */
        background-color: aqua;
        border: 5px solid hotpink;
    }
}

