@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
    flex-grow 
    - 아이템들의 flex-basis를 제외한 '여백' 부분을 
    'flex-grow에 지정된 숫자의 비율'로 나누어 가진다.
    - 요소의 크기가 커졌을 때, item의 증가 너비 비율 설정
    - 기본값(0)

    flex-shrink
    요소의 안쪽 '여백' 축소하기
    - 요소의 크기를 줄였을 때, Item의 감소 너비 비율을 설정
    - 기본값 (1)

    flex-basis
    요소의 기본 너비 설정
    - item의 (공간 배분전)기본 너비 설정
    - 기본값 (auto)
    - 보통 0으로 놓고 씀

    flex 
    : item의 너비(증가, 감소, 기본)를 설정하는 단축 속성
    : 증가너비 감소너비 기본너비;

*/


section {
    display:flex;  
    width:100%;  
    background:lightcyan;
}

section article {
    /* flex-basis: 0; */
    background: aqua;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 50px;
}

section article:nth-of-type(1) {
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 1;
}

section article:nth-of-type(2) {
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    flex: 2;
}

section article:nth-of-type(3) {
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 1;
}


