@mixin button($wid:80px, $ht:30px, $bgColor:gray, $color:#fff, $fontSize:12px) {
    display: block;
    width: $wid;
    height: $ht;
    font-size: $fontSize;
    font-family: 'arial';
    line-height: $ht;
    background-color: $bgColor;
    border-radius: $ht/2;
    text-align: center;
    color: $color;
}