@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap');

/* reset */
* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .group > div {
    border: 1px solid red;
} */

.group .txt {
    border: 1px solid red;
} 

/*
    자손선택자
    - 자식, 손자, 증손자까지 모든 하위요소를 포괄한 개념

    자식선택자 (꺽쇠로 구분)
    - 자기를 기준으로 직계자식만 나타내는 개념
*/
