<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header3</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1dad6b4855.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="header3">
        <div class="inner">
            <h1><a href="#">DCODELAB</a></h1>

            <ul id="gnb">
                <li><a href="#">COMPANY</a></li>
                <li><a href="#">DEPARTMENT</a></li>
                <li><a href="#">COMMUNITY</a></li>
                <li><a href="#">MEMBERS</a></li>
                <li><a href="#">LOCATION</a></li>
            </ul>
            
            <ul id="util1">
                <li><a href="#">Login</a></li>
                <li><a href="#">Join</a></li>
            </ul>
            <ul id="util2">
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">SNS</a></li>
            </ul>
        </div>
    </section>
</body>
</html>