<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box2 레이아웃 </title>
    <script src="https://kit.fontawesome.com/6e561f56c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="box2">
        <div class="inner">
            <h1 class="hidden">Lorem, ipsum dolor.</h1>

            <div class="wrap">
                <article>
                    <h2>Title comes here.</h2>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="btn">view detail</a>
                </article>
                <article>
                    <h2>Title comes here.</h2>
                    <div class="wrap">
                        <article>
                            <a href="#">
                                <i class="fas fa-baby"></i>
                            </a>
                            <strong>items</strong>
                        </article>
                        <article>
                            <a href="#">
                                <i class="fas fa-bell"></i>
                            </a>
                            <strong>items</strong>
                        </article>
                        <article>
                            <a href="#">
                                <i class="fas fa-arrows-alt"></i>
                            </a>
                            <strong>items</strong>
                        </article>
                    </div>
                </article>
                <article>
                    <h2>Title comes here.</h2>
                    <ul>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                    </ul>
                    <a href="#" class="btnMore">
                        <i class="fas fa-plus"></i>
                    </a>
                </article>
                <article>
                    <h2>Title comes here.</h2>
                    <ul>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                        <li><a href="#">here comes content title.</a></li>
                    </ul>
                    <a href="#" class="btnMore">
                        <i class="fas fa-plus"></i>
                    </a>
                </article>
            </div>
        </div>
    </section>
</body>
</html>