@charset "utf-8";



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #efefef;
}

section .box1 {
    position: absolute;
    left: 4vw;
    top: 50%;
    width: 100px;
    height: 40px;
    transform: translateY(-50%);
    background-color: pink;
}

section .box2 {
    position: absolute;
    right: 4vw;
    top: 50%;
    width: 200px;
    height: 40px;
    transform: translateY(-50%);
    background-color: lightblue;
}

section::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(4vw + 100px + 2vw);
    width: calc(100% - (100px + 4vw + 2vw) - (200px + 4vw + 2vw));
    height: 1px;
    background-color: #555;
}

/*
    width: calc(100% / 3); = 33.3333%:
*/