@charset 'utf-8'; 

*{
    margin:0; 
    padding:0; 
}
ul,ol,li{
    list-style:none; 
}
a{
    text-decoration:none; 
    font-size:100px; 
    color:#000; 
}
 
#box{
    width:200px; 
    height:200px; 
    background-color:aqua; 
    margin:100px auto; 
} 