@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@500&display=swap');

/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #666;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #e9f8fd;
    margin: 100px auto;
}

.wrap {
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #eee;
}

/* Menu */
#menu {
    width: 100%;
}

#menu::after {
    content: "";
    display: block;
    clear: both;
}

#menu > div {
    width: 50%;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.menu__icon {
    text-align: right;
}

/* Profile */
#profile {
    width: 100%;
    text-align: center;
}

.profile__avatar {
    width: 170px;
    display: block;
    margin: 5px auto 20px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #cbeffd;
}

.profile__title {
    font-size: 22px;
}

.profile__description {
    color: #bbb;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.profile__btn {
    display: block;
    width: 170px;
    height: 30px;
    margin: 25px auto 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 25px;
    line-height: 30px;
    background: linear-gradient(to right, #49fdff, #37e3f8);
    box-shadow: 5px 5px 20px #49fdff;
}

/* Contact */
#contact {
    width: 100%;
    padding-top: 5px;
}

.contact__item {
    width: 100%;
    padding:10px;
}

.contact__item::after {
    content: "";
    display: block;
    clear: both;
}

.contact__item:nth-of-type(1) {
    border-bottom: 1px solid #eee;
}

.contact__icon {
    float: left;
    width: 15%;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    color: #555;
    text-shadow: 2px 2px 2px #bbb;
}

.contact__description {
    display: block;
    float: left;
    width: 80%;
    font-size: 11px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #777;
}

/* others */
#others {
    margin-top: 10px;
    text-align: center;
    font-size: 0px;
}

.others__btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 15px 10px 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.others__btn:nth-of-type(1) {
    background-color: #bfeff5;
    box-shadow: 3px 3px 15px #bfeff5;
}

.others__btn:nth-of-type(1):hover {
    background-color: #35e0f7;
    box-shadow: 3px 3px 15px #35e0f7;
}

.others__btn:nth-of-type(2) {
    background-color : #ebfde9;
    box-shadow: 3px 3px 15px #ebfde9;
}

.others__btn:nth-of-type(2):hover {
    background-color: #55f5cd;
    box-shadow: 3px 3px 15px #55f5cd;
}

.others__btn:nth-of-type(3) {
    background-color: #f4d0eb ;
    box-shadow: 3px 3px 15px #f4d0eb;
}

.others__btn:nth-of-type(3):hover {
    background-color: #ff80df;
    box-shadow: 3px 3px 15px #ff80df;
}

.others__btn:nth-of-type(4) {
    background-color: #dbd5f3;
    box-shadow: 3px 3px 15px #dbd5f3;
}

.others__btn:nth-of-type(4):hover {
    background-color: #a794fd;
    box-shadow: 3px 3px 15px #a794fd;
}